* {
    margin: 0;
}

/* Mobile-first styles */
body {
    font-size: 16px;
    /* other mobile-specific styles */
}

/* Styles for tablets and desktops */
@media (min-width: 768px) {
    body {
        display: none;
        /* Hide the content on larger screens */
    }
}

nav {
    height: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 50%;
}